.container {
    display: flex;
    background-color: aquamarine;
}

.container > div:nth-child(n) {
    background-color: crimson;
    font-size: 30px;
    margin: 5px;
}

.contwrap {
    flex-wrap: wrap;
}

/* website layout */

.mainCont {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 150px;
    background-image: url(../Images/maasikakauss.png);
    background-size: cover;
}

.header > h2 {
    color: blanchedalmond;
    text-align: center;
    text-shadow: 1px 1px orangered;
}

.menu {
    width: 20%;
}

.content {
    width: 80%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

@media screen and (max-width: 300px) {
    .mobile {
        display: block;
    }    

    .desktop {
        display: none;
    }

    .mainCont {
    flex-direction: column;
    }

    .menu, .content {
        width: 100%;
    }
}


